# /etc/systemd/system/pbh-qbt-helper.service

[Unit]
Before=qbittorrent-nox.service
After=network.target nftables.service

[Service]
Type=simple
ExecStart=/usr/local/bin/pbh-qbt-helper
Restart=on-failure
RestartSec=5

# config example
# Environment=HTTP_PORT=8901 QBT_ENDPOINT=http://127.0.0.1:8900 USE_NFTABLES=yes

DynamicUser=yes

AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes

PrivateBPF=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
PrivateDevices=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict

RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

SystemCallArchitectures=native
SystemCallFilter=@system-service

MemoryMax=256M

[Install]
WantedBy=multi-user.target
